.headerBackground {
    height: 40vh;
    margin: 10px 10px 0 10px;
    border-radius: 10px;
    background-image: linear-gradient(90deg, rgba(69, 147, 229, 0.6587009803921569) 0%,
            rgba(152, 72, 173, 0.6615021008403361) 100%),
        url(../../images/mount.avif);
    background-position: center;
}

h1 {
    padding-left: 15%;
    padding-top: 0px;
    color: aliceblue;
}